<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>My Portfolio</title>
</head>
<body>
<!-- Updated Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <div class="container">
        <a class="navbar-brand" href="#">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#social">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "comments" %}">View Submissions</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!-- Home Section -->
<section id="home" class="jumbotron text-center bg-dark text-light py-5 mb-0">
    <div class="container text-left">
        <h1 class="display-4">RaGuL K.</h1>
        <p class="lead">Passionate Web Developer</p>
        <p class="mb-4">Hi, I'm Ragul, a <span class="highlight">2024 Computer Science graduate</span> with a passion for web development. Currently, I'm <span class="highlight">diving deep into Django</span> and honing my skills through various projects. I thrive on challenges and love exploring new technologies. With a Good foundation in Python development, I'm eager to contribute as a <span class="highlight">Django backend developer</span>. Open to new opportunities, I'm excited to embark on meaningful projects and make a difference in the world of tech.</p>
        <a href="{% static 'images/resume.pdf' %}" download="resume.pdf" class="btn btn-primary btn-lg  mb-3 mb-md-0">Download Resume</a>
        <a href="https://lavender-audra-39.tiiny.site" target="_blank" class="btn btn-primary btn-lg mb-3 mb-md-0">View Resume Online</a>


    </div>
</section>

<section id="about" class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left">
                <img src="{% static 'images/me.jpg' %}" class="rounded-circle img-fluid" alt="About Me Image">
            </div>
            <div class="col-lg-6 text-center align-self-center">
                <h2 class="mb-4">About Me</h2>
                <p class="mb-4">Hey there! I'm Ragul K, a 2024 graduate with a CGPA of 8.3 in Computer Science Engineering. Currently, I'm diving deep into Django and expanding my skill set in web development. With a strong foundation in Python, I'm excited to explore the world of backend development.</p>
                <p class="mb-4">I'm passionate about leveraging technology to solve real-world problems and create innovative solutions. I thrive in collaborative environments and enjoy working with others to bring ideas to life. Whether it's building a web application, optimizing code performance, or tackling complex algorithms, I'm always up for a challenge.</p>
                <p class="mb-4">If you're interested in collaborating on exciting projects or just want to connect and chat about tech, feel free to reach out! Let's work together to make a positive impact in the world of technology.</p>
                <a href="#contact" class="btn btn-primary">Get in Touch</a>
            </div>

        </div>
    </div>
</section>


<!-- Projects Section -->
<section id="projects" class="py-5 bg-dark">
    <div class="container">
        <h2 class="text-center mb-5">Projects</h2>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card shadow">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <div class="project-image-wrapper">
                                <a href="https://jobmatrix.onrender.com/" target="_blank">
                                    <img src="{% static 'images/jobmatrix.png' %}" class="card-img-top" alt="Project Image">
                                    <span class="visit-website-text">Visit Website</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">JobMatrix(Mobile Friendly Site)</h5>
                                <p class="card-text">A JobMatrix offers seamless job posting and application functionalities, allowing users to navigate openings effortlessly. Recruiters benefit from detailed candidate profiles and resumes, facilitating efficient talent acquisition. Job seekers, in turn, can showcase their credentials effectively, enhancing their prospects. Intuitive dashboards provide valuable analytics for both parties involved. JobMatrix represents a culmination of dedicated effort and commitment to enhancing recruitment processes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card shadow">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="project-image-wrapper">
                                    <a href="https://driving-alaine-oneuser-59856c4f.koyeb.app/" target="_blank">
                                        <img src="{% static 'images/digitalden.png' %}" class="card-img-top" alt="Project Image">
                                        <span class="visit-website-text">Visit Website</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">DigitalDen(Lap/Desktop Site)</h5>
                                    <p class="card-text">DigitalDen is an e-commerce website developed on the Django framework, allowing users to register as buyers or sellers. Buyers can purchase products, while sellers can list items for sale and manage their store. All data is managed by PostgreSQL, ensuring reliability and efficiency.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card shadow">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="project-image-wrapper">
                                    <a href="https://villagegram.onrender.com/" target="_blank">
                                        <img src="{% static 'images/villagegram.png' %}" class="card-img-top" alt="Project Image">
                                        <span class="visit-website-text">Visit Website</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">VillageGram(Mobile Friendly Site)</h5>
                                    <p class="card-text">VillageGram offers a user-friendly interface, profile customization, and an explore feature to discover new friends. Engage with nested comments and real-time notifications for seamless interactions. Easily manage friendships and enjoy secure login with Google OAuth 2.0.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card shadow">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="project-image-wrapper">
                                    <a href="https://blog-deployment-sqts.onrender.com/" target="_blank">
                                        <img src="{% static 'images/sharesquare.png' %}" class="card-img-top" alt="Project Image">
                                        <span class="visit-website-text">Visit Website</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">ShareSquare(Lap/Desktop Site)</h5>
                                    <p class="card-text">ShareSquare is a blog website built with Django, allowing users to create, update, and delete posts. Users can sign up, log in, and manage their blog content easily. The platform features a responsive design for seamless use across all devices, focusing on readability and user engagement. With a clean interface, ShareSquare fosters a vibrant community for sharing thoughts and experiences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card shadow">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <div class="project-image-wrapper">
                                    <a href="https://weather-app-qafy.onrender.com/" target="_blank">
                                        <img src="{% static 'images/weather.png' %}" class="card-img-top" alt="Project Image">
                                        <span class="visit-website-text">Visit Website</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">WeatherApp(Lap/Desktop Site)</h5>
                                    <p class="card-text"> An dynamic Weather App powered by Django and BeautifulSoup. Seamlessly integrating web scraping capabilities, it provides real-time weather updates for any city. Users can access current temperature, date, and daily forecasts with ease.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Social Section -->
<section id="social" class="py-5 bg-dark">
    <div class="container">
        <h2 class="text-center mb-5">Connect With Me</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a href="https://github.com/RaGuL-26" target="_blank" class="btn btn-light btn-lg btn-block mb-4">GitHub</a>
                <a href="https://www.linkedin.com/in/ragul-k-aa650a28a/" target="_blank" class="btn btn-primary btn-lg btn-block mb-4">LinkedIn</a>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="py-5 bg-dark">
    <div class="container">
        <h2 class="text-center mb-5">Contact Me</h2>
        <p class="text-center mb-4">If you have any questions or inquiries, feel free to contact me using the form below:</p>
        <form method="post" action ='{% url "submit" %}'>
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</section>
</body>
</html>

<!-- Footer -->
<footer class="text-center text-white">
    <div class="container">
        <p>&copy; RaGuL's PortFolio .</p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--Start of Tawk.to Script-->
{% comment %} <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/665875ee9a809f19fb36f121/1hv4opbd4';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script> {% endcomment %}
    <!--End of Tawk.to Script-->
</body>
</html>
